# Project 2 - CS 181
### Ward Anderson, Ben Brown, Jeff Stevens
### Dr. Kretchmar
### 10/22/18

{intro goes here}

In [3]:
import pandas as pd
import sqlalchemy as sa
import matplotlib.pyplot as plt
import json

In [4]:
def getCreds(filename,subset,defaults={}):
    '''
    This function helps us connect to a database on hadoop2.  The
    userid password information is stored in a local file encoded
    in json format.  
    Inputs:
        filename is where json encoded userid/password information stored
        subset : dictionary key in json file
        defaults : alternative way to connect to database
    Returns subdictionary based on subset parameter.
    '''
    try:
        with open(filename,'r') as file:
            D = json.load(file)
            file.close()
            if D[subset]:
                return D[subset]
            else:
                return defaults
    except:
        return defaults
     
def db_setup(database):
    template = 'mysql+mysqlconnector://{}:{}@hadoop2.mathsci.denison.edu/{}'
    cstring = template.format(creds['user'],creds['password'],database)
    return cstring

creds = getCreds('creds.json','mysql',defaults = {'user':'steven_j1', 'password':'steven_j1'})

cstring = db_setup("lahman2016")
engine = sa.create_engine(cstring)
connection = engine.connect()

In [5]:
     #-#-#-#-#-#-#-#-#-#-#-#-#-#-#
########## CLEVELAND INDIANS ##########
     #-#-#-#-#-#-#-#-#-#-#-#-#-#-#

query_main = '''SELECT yearID, teamID, franchID, H/AB AS BA, ERA , W/(W+L) AS Winpct, FP
FROM Teams
WHERE franchID = "CLE";'''

query_salaries = '''SELECT teamID, yearID, salary
FROM Salaries
WHERE teamID = "CLE";'''

In [6]:
#Converting Cleveland Indians query to DataFrame
result = connection.execute(query_main)
rows = result.fetchall()
df = pd.DataFrame(rows,columns = result.keys())
df.columns = ["Year","Team","Franchise","Batting Average","Earned Run Average", "Win Percentage","Fielding Percentage"]
df = df.drop(columns = ["Team","Franchise"], axis = 1)
df.to_csv('CLE.csv')

In [7]:
print("Statistics for The Cleveland Indians Baseball Team since 1901")
print(df)

Statistics for The Cleveland Indians Baseball Team since 1901
     Year Batting Average  Earned Run Average Win Percentage  \
0    1901          0.2713                4.12         0.3971
1    1902          0.2895                3.28         0.5074
2    1903          0.2650                2.73         0.5500
3    1904          0.2601                2.22         0.5695
4    1905          0.2551                2.85         0.4935
5    1906          0.2794                2.09         0.5817
6    1907          0.2409                2.26         0.5592
7    1908          0.2390                2.02         0.5844
8    1909          0.2409                2.40         0.4641
9    1910          0.2444                2.88         0.4671
10   1911          0.2821                3.36         0.5229
11   1912          0.2733                3.30         0.4902
12   1913          0.2681                2.54         0.5658
13   1914          0.2447                3.21         0.3333
14   1915          0.2404                3.13         0.3750
15   1916          0.2496                2.90         0.5000
16   1917          0.2451                2.52         0.5714
17   1918          0.2602                2.64         0.5748
18   1919          0.2778                2.94         0.6043
19   1920          0.3025                3.41         0.6364
20   1921          0.3076                3.90         0.6104
21   1922          0.2917                4.59         0.5065
22   1923          0.3013                3.91         0.5359
23   1924          0.2963                4.40         0.4379
24   1925          0.2967                4.49         0.4545
25   1926          0.2889                3.40         0.5714
26   1927          0.2828                4.27         0.4314
27   1928          0.2850                4.47         0.4026
28   1929          0.2940                4.05         0.5329
29   1930          0.3041                4.88         0.5260
..    ...             ...                 ...            ...
86   1987          0.2633                5.28         0.3765
87   1988          0.2607                4.16         0.4815
88   1989          0.2453                3.65         0.4506
89   1990          0.2671                4.26         0.4753
90   1991          0.2541                4.23         0.3519
91   1992          0.2660                4.11         0.4691
92   1993          0.2753                4.58         0.4691
93   1994          0.2897                4.36         0.5841
94   1995          0.2906                3.83         0.6944
95   1996          0.2931                4.35         0.6149
96   1997          0.2860                4.73         0.5342
97   1998          0.2724                4.45         0.5494
98   1999          0.2891                4.90         0.5988
99   2000          0.2884                4.84         0.5556
100  2001          0.2784                4.64         0.5617
101  2002          0.2488                4.91         0.4568
102  2003          0.2536                4.21         0.4198
103  2004          0.2757                4.81         0.4938
104  2005          0.2713                3.61         0.5741
105  2006          0.2805                4.41         0.4815
106  2007          0.2684                4.05         0.5926
107  2008          0.2625                4.45         0.5000
108  2009          0.2636                5.06         0.4012
109  2010          0.2482                4.30         0.4259
110  2011          0.2505                4.23         0.4938
111  2012          0.2507                4.78         0.4198
112  2013          0.2545                3.82         0.5679
113  2014          0.2531                3.56         0.5247
114  2015          0.2565                3.67         0.5031
115  2016          0.2617                3.84         0.5839

     Fielding Percentage
0                  0.942
1                  0.950
2                  0.946
3                  0.959
4                  0.963
5                  0.967
6                  0.960
7                  0.962
8                  0.957
9                  0.964
10                 0.954
11                 0.954
12                 0.962
13                 0.954
14                 0.957
15                 0.965
16                 0.964
17                 0.962
18                 0.965
19                 0.971
20                 0.967
21                 0.968
22                 0.964
23                 0.968
24                 0.966
25                 0.972
26                 0.968
27                 0.965
28                 0.968
29                 0.962
..                   ...
86                 0.975
87                 0.980
88                 0.981
89                 0.981
90                 0.976
91                 0.978
92                 0.976
93                 0.980
94                 0.982
95                 0.980
96                 0.983
97                 0.982
98                 0.983
99                 0.988
100                0.982
101                0.981
102                0.980
103                0.983
104                0.983
105                0.981
106                0.985
107                0.985
108                0.984
109                0.982
110                0.982
111                0.984
112                0.983
113                0.981
114                0.987
115                0.985

[116 rows x 5 columns]

In [15]:
     #-#-#-#-#-#-#-#-#-#-#-#-#-#-#
########## WASHINGTON NATIONALS ##########
     #-#-#-#-#-#-#-#-#-#-#-#-#-#-#

# SELECT yearID, AVG(salary) AS Salary
# FROM Salaries
# WHERE teamID = "CIN"
# GROUP BY yearID
# ORDER BY yearID;




    
    
WAS_query = '''SELECT t.yearID, t.teamID, t.franchID, t.H, t.AB, t.W, t.L, t.ERA, t.H/t.AB AS BA, t.W/(t.W+t.L) AS Winpct, t.FP
FROM Teams AS t
WHERE t.franchID = "WSN";'''
resultproxy = connection.execute(WAS_query)

# query_salaries =

In [17]:
#Main query
tmp = connection.execute(WAS_query)
WAS_stats = pd.DataFrame(tmp.fetchall(), columns = tmp.keys())
print(WAS_stats)

    yearID teamID franchID     H    AB   W    L   ERA      BA  Winpct     FP
0     1969    MON      WSN  1300  5419  52  110  4.33  0.2399  0.3210  0.970
1     1970    MON      WSN  1284  5411  73   89  4.50  0.2373  0.4506  0.977
2     1971    MON      WSN  1312  5335  71   90  4.12  0.2459  0.4410  0.976
3     1972    MON      WSN  1205  5156  70   86  3.59  0.2337  0.4487  0.978
4     1973    MON      WSN  1345  5369  79   83  3.71  0.2505  0.4877  0.974
5     1974    MON      WSN  1355  5343  79   82  3.60  0.2536  0.4907  0.976
6     1975    MON      WSN  1346  5518  75   87  3.72  0.2439  0.4630  0.973
7     1976    MON      WSN  1275  5428  55  107  3.99  0.2349  0.3395  0.975
8     1977    MON      WSN  1474  5675  75   87  4.01  0.2597  0.4630  0.980
9     1978    MON      WSN  1404  5530  76   86  3.42  0.2539  0.4691  0.979
10    1979    MON      WSN  1445  5465  95   65  3.14  0.2644  0.5938  0.979
11    1980    MON      WSN  1407  5465  90   72  3.48  0.2575  0.5556  0.977
12    1981    MON      WSN   883  3591  60   48  3.30  0.2459  0.5556  0.980
13    1982    MON      WSN  1454  5557  86   76  3.31  0.2617  0.5309  0.980
14    1983    MON      WSN  1482  5611  82   80  3.58  0.2641  0.5062  0.981
15    1984    MON      WSN  1367  5439  78   83  3.31  0.2513  0.4845  0.978
16    1985    MON      WSN  1342  5429  84   77  3.55  0.2472  0.5217  0.981
17    1986    MON      WSN  1401  5508  78   83  3.78  0.2544  0.4845  0.979
18    1987    MON      WSN  1467  5527  91   71  3.92  0.2654  0.5617  0.976
19    1988    MON      WSN  1400  5573  81   81  3.08  0.2512  0.5000  0.978
20    1989    MON      WSN  1353  5482  81   81  3.48  0.2468  0.5000  0.979
21    1990    MON      WSN  1363  5453  85   77  3.37  0.2500  0.5247  0.982
22    1991    MON      WSN  1329  5412  71   90  3.64  0.2456  0.4410  0.979
23    1992    MON      WSN  1381  5477  87   75  3.25  0.2521  0.5370  0.980
24    1993    MON      WSN  1410  5493  94   68  3.55  0.2567  0.5802  0.975
25    1994    MON      WSN  1111  4000  74   40  3.56  0.2778  0.6491  0.979
26    1995    MON      WSN  1268  4905  66   78  4.11  0.2585  0.4583  0.980
27    1996    MON      WSN  1441  5505  88   74  3.78  0.2618  0.5432  0.980
28    1997    MON      WSN  1423  5526  78   84  4.14  0.2575  0.4815  0.979
29    1998    MON      WSN  1348  5418  65   97  4.39  0.2488  0.4012  0.975
30    1999    MON      WSN  1473  5559  68   94  4.69  0.2650  0.4198  0.974
31    2000    MON      WSN  1475  5535  67   95  5.13  0.2665  0.4136  0.978
32    2001    MON      WSN  1361  5379  68   94  4.68  0.2530  0.4198  0.982
33    2002    MON      WSN  1432  5479  83   79  3.97  0.2614  0.5123  0.978
34    2003    MON      WSN  1404  5437  83   79  4.01  0.2582  0.5123  0.983
35    2004    MON      WSN  1361  5474  67   95  4.33  0.2486  0.4136  0.984
36    2005    WAS      WSN  1367  5426  81   81  3.87  0.2519  0.5000  0.985
37    2006    WAS      WSN  1437  5495  71   91  5.03  0.2615  0.4383  0.978
38    2007    WAS      WSN  1415  5520  73   89  4.58  0.2563  0.4506  0.982
39    2008    WAS      WSN  1376  5491  59  102  4.66  0.2506  0.3665  0.980
40    2009    WAS      WSN  1416  5493  59  103  5.00  0.2578  0.3642  0.977
41    2010    WAS      WSN  1355  5418  69   93  4.13  0.2501  0.4259  0.979
42    2011    WAS      WSN  1319  5441  80   81  3.58  0.2424  0.4969  0.983
43    2012    WAS      WSN  1468  5615  98   64  3.33  0.2614  0.6049  0.985
44    2013    WAS      WSN  1365  5436  86   76  3.59  0.2511  0.5309  0.982
45    2014    WAS      WSN  1403  5542  96   66  3.03  0.2532  0.5926  0.984
46    2015    WAS      WSN  1363  5428  83   79  3.62  0.2511  0.5123  0.985
47    2016    WAS      WSN  1403  5490  95   67  3.51  0.2556  0.5864  0.988

## Plots

In [ ]:
df.plot(x='Year', y='Batting Average',title='Batting Average of The Cleveland Indians from 1901 to 2016')

In [ ]:
plt.show()